@if (book()) {
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <h3>Edit Book</h3>
    <form [formGroup]="form" (ngSubmit)="onUpdate()">
      @for (k of keys; track $index) {
      <div class="form-group mt-2">
        <label for="">{{ k | titlecase }}</label>
        <input [formControlName]="k" type="text" class="form-control">
        @if (form.controls[k].invalid) {
        @if (form.controls[k].errors!['required']) {
        <div class="error-message">
          This field is required
        </div>
        } @else if (form.controls[k].errors!['pattern']) {
        <div class="error-message">
          Invalid value
        </div>
        } @else {
        @for (pair of form.controls[k].errors | keyvalue; track $index) {
        <div class="error-message">
          {{ pair.value }}
        </div>
        }
        }
        }
      </div>
      }

      <button [disabled]="form.invalid" type="submit" class="btn btn-primary mt-3">
        <i class="fa fa-save"></i> Update
      </button>
    </form>
  </div>
</div>
}