<app-searchbar [book]="book"></app-searchbar>
<div class="row">
  <div class="col-4">
    <input [(ngModel)]="phrase" type="text" class="form-control my-3" placeholder="search...">
  </div>
  <div class="col-2">
    <button (click)="changeAuthor()" class="btn btn-success">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Author</th>
          <th>ISBN</th>
          <th>Pages</th>
          <th>Publisher</th>
          <th>fibo</th>
        </tr>
      </thead>

      <tbody>
        @for (book of store.books(); track $index) {
        <tr>
          <td>{{ book.id }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.isbn }}</td>
          <td>{{ book.pages }}</td>
          <td>{{ book.publisher }}</td>
          <td>{{ 26 | fibo }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
