<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Author</th>
          <th>ISBN</th>
          <th>Pages</th>
          <th>Publisher</th>
        </tr>
      </thead>

      <tbody>
        @for (book of store.books(); track $index) {
        <tr>
          <td>{{ book.id }}</td>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.isbn }}</td>
          <td>{{ book.pages }}</td>
          <td>{{ book.publisher }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>